<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
       <link rel="icon" href="/img/weather.png"
    
    </head>
 
<body>
   <div class="main-content" >
           {{>header}}
          <p>This website is created by Shubham Sawlani.It uses API of mapbox and darksy to show weather forecast of a Area.</p>  
        <img class="potrait" src='./img/ANK_0638.JPG'>
       </div>
     
   
     {{>footer}}
      
   </body>
 
</html>

 